 /* Style the video: 100% width and height to cover the entire window */
 #background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    height: 100%;
    padding: 20px;
    display: block;
  }

  .logo {
    margin-bottom: 20px;
    opacity: 0.9;
    transition: all 0.05s;
  }

  .logo:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222);
    opacity: 1.0;
    transform: scale(1.025);
  }